{% extends 'bases/list.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/daterangepicker/daterangepicker.css' %}"/>
{% endblock %}
{% block table %}
    <div class="card-header">
        <label for="fecha"> Filtro de Fecha:</label>
        <input type="text" name="fecha" id="fecha" class="form-control form-control-sm input-sm"></div>
    <thead>
    <tr>
        <th>Fecha Venta</th>
        <th>Cliente</th>
        <th>Subtotal</th>
        <th>Iva</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>
        <th></th>
        <th>Totales:</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </tfoot>
{% endblock %}

{% block scripts_extra %}
    <script src="{% static 'app/venta/report_total.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="{% static 'lib/daterangepicker/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/daterangepicker/spanish.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.bootstrap4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

{% endblock %}