{% extends 'bases/list.html' %}
{% load  static %}
{% block table %}
    <div class="card-header">
        <a href="{{ nuevo }}" class="btn btn-primary btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i> Nuevo Registro
        </a>
        <thead>
        <tr>
            <!--<th class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace"/>
                    <span class="lbl"></span>
                </label>
            </th> -->
            <th>Nombre</th>
            <th>N. Documento</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </div>

{% endblock %}
{% block scripts_extra %}
    <script src="{% static 'app/cliente/list.js' %}"></script>
{% endblock %}
