{% extends 'bases/list.html' %}
{% load static %}
{% block table %}

        <thead>
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Descripcion</th>
            <th>Precio Venta</th>
            <!--<th>Stock</th> -->
            <th>Imagen</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>

        </tbody>

{% endblock %}
{% block scripts_extra %}
    <script src="{% static 'app/producto/list.js' %}"></script>
{% endblock %}