{% extends 'bases/list.html' %}
{% load static %}
{% block table %}
    <div class="card-header">
        <a href="{{ nuevo }}" class="btn btn-primary btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i> Nuevo Registro
        </a>
    <thead>
    <tr>
        <!--<th class="center">
            <label class="pos-rel">
                <input type="checkbox" class="ace"/>
                <span class="lbl"></span>
            </label>
        </th> -->
        <th>Nombre</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for marca in object_list %}
        <tr>
            <!--<td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace"/>
                    <span class="lbl"></span>
                </label>
            </td> -->
            <td>{{ marca.nombre }}</td>
            <td>
                <a type="button" class="btn btn-outline-success btn-sm btn-round" data-toggle="tooltip"
                       title="Editar Datos"
                      href="{% url 'marca:editar' marca.id %}"><i class="fa fa-edit"></i>
                </a>
                <a type="button" class="btn btn-outline-danger btn-sm btn-round" data-toggle="tooltip"
                       title="Eliminar Datos"
                      href="{% url 'marca:eliminar' marca.id %}"><i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>

        {% endfor %}
</tbody>
    </div>
{% endblock %}
{% block scripts_extra %}
    <script src="{% static 'app/marca/list.js' %}"></script>
{% endblock %}