{% extends 'base.html' %}
{% load static %}
{% block conten %}
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <div class="card-footer">
            <button type="submit" class="btn btn-warning btn-sm btn-flat">
                <i class="fas fa-sync"></i> Guardar
            </button>
            <a href="{{ url }}" class="btn btn-info btn-sm btn-flat">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </form>
    <script>
        {% if form.errors %}
            var errores = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errores += '{{ error }} \n';
                {% endfor %}
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errores,
                icon: 'error',
            })
        {% endif %}

        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        });

        alert_jquery();

    </script>
{% endblock %}